/* 
    Document   : forms
    Created on : 26-oct-2014, 20:53:29
    Author     : trianaandaluciaprietogalvan
    Description:
        Purpose of the stylesheet follows.
*/
.centrado{
  margin-left: 40px;
}

