.scrolltables{
	 overflow-x:scroll;
 	 overflow-y:visible;
}

.myWidth { max-width: 50%; }
.concat{ overflow: hidden; 
		-ms-text-overflow: ellipsis; 
		-o-text-overflow: ellipsis; 
		text-overflow: ellipsis; 
		white-space: nowrap;
		 width: inherit; 
}
.espacio{
	visibility: hidden;
}
